<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- URL padrão de teste -->
    <add key="testUrl" value="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>

    <!-- Configurações do Proxy -->

    <!-- Deixa a chave vazia para não usar Proxy -->
    <add key="proxyLocation" value=""/>
    <!-- Se "1"=será usado no proxy as credenciais padrão, "0"=nenhuma credencial, "2"=login,senha e dominio -->
    <add key="proxyCredentialMode" value="1"/>
    <!-- Login do proxy (caso proxyUseDefaultCredential = 2) -->
    <add key="proxyCredentialLogin" value="login_do_proxy"/>
    <!-- Senha do proxy (caso proxyUseDefaultCredential = 2) -->
    <add key="proxyCredentialPassword" value="senha_do_proxy"/>
    <!-- Dominio do proxy (caso proxyUseDefaultCredential = 2), pode ficar em branco -->
    <add key="proxyCredentialDomain" value=""/>
    <!-- Se o proxy deve ser evitado em endereços locais (true ou false, com default true) -->
    <add key="proxyBypassProxyOnLocal" value="true"/>

    <!-- Configurações de Dump dos Certificados -->

    <!-- Se deve ser usada uma validação de certificados customizada -->
    <add key="customCertificateValidation" value="true"/>
    <!-- Comportamento da validação customizada (São flags, basta somar: 0 = default do Windows; 1 = Aceite Tudo; 2 = log; 4 = aceite expirado; 8 = Blacklist; 16 = WhiteList; 32 = Dump da Cadeia) -->
    <add key="customCertificateValidationBehaviour" value="34"/>
    <!-- Black List de certficados, separados por ponto-e-vírgula -->
    <add key="customCertificateValidationBlackListThumbprints" value=""/>
    <!-- White List de certificados, separados por ponto-e-vírgula -->
    <add key="customCertificateValidationWhiteListThumbprints" value=""/>

  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>